---
import { Card } from "studiocms:ui/components/card";

import { useTastro } from "@sipc.ink/tastro"
import { getDict } from "../tool/getDict.js";

const { lang } = useTastro(Astro.request)
const dict = await getDict(lang);
const about = dict.about ?? {};
---

<Card style="width: 100%; height: 100%">
    <h4 slot="header">🧑‍💻 {about.title}</h4>
    <div style="display: flex; flex-direction: column; gap: 2px; height: 100%; justify-content: center">
        <del style="color: #666;">{about.old}</del>
        <div>{about.content}</div>
    </div>
</Card>
