---
import { Card } from "studiocms:ui/components/card";
import { Badge } from "studiocms:ui/components/badge";

import { useTastro } from "@sipc.ink/tastro"
import { getDict } from "../tool/getDict.js";

const { lang } = useTastro(Astro.request)
const dict = await getDict(lang);
const skills = dict.skills ?? {};
const items = skills.items ?? [];
---

<Card style="width: 100%; height: 100%;">
    <h4 slot="header">⚡ {skills.title}</h4>
    <span style="display: inline-flex; flex-wrap: wrap; gap: 8px;">
        {items.map((label) => (
            <Badge label={label} color="mono" variant="flat"/>
        ))}
    </span>
</Card>
